<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
    <button class="uk-button">Click me <i class="uk-icon-caret-down"></i></button>
    <div class="uk-dropdown">
        <ul class="uk-nav uk-nav-dropdown">
            <li><a href="#">Item</a></li>
            <li><a href="#">Another item</a></li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Another item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#" id='test'>test</a></li>
        </ul>
    </div>
</div>
