<!doctype html>
<html>
  {{> header}}

  <body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
  {{> navbar}}
  {{> content}}
  {{> footer}}
    </div>
      <script src="/bundle.js"></script>
  </body>
</html>
