<div class="grid">
    <div class="grid-item 3/12">
        <p class="h1 wrapper">APP</p>
    </div>
    <div class="grid-item 9/12">
        <ul class="fr list-inline m">
            <li><a href="#" >item 1</a></li>
            <li>item 3</li>
            <li>item 4</li>
        </ul>
    </div>

</div>
