<nav class="uk-navbar">
<a href="/" class="uk-navbar-brand">{{title}}</a>
    <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="#">Dashboard</a></li>
        <li><a href="">...</a></li>
    </ul>
</nav>