<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
    <button class="uk-button">Click me <i class="uk-icon-caret-down"></i></button>
    <div class="uk-dropdown">
        <ul class="uk-nav uk-nav-dropdown">
            <li><a href="#">Item</a></li>
            <li><a href="#">Another item</a></li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Another item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#" id='test'>test</a></li>
        </ul>
    </div>
</div>

<ul id="sortabletest" class="uk-sortable" data-uk-sortable="{animation:200, dragCustomClass:'dragging'}">
    <li data-id="1" data-name="Item 1">item 1</li>
    <li data-id="2" data-name="Item 2">item 2</li>
    <li data-id="3" data-name="Item 3">item 3</li>
</ul>
