doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='./style.css', rel='stylesheet')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://npmcdn.com/react@15.3.1/dist/react.js')
    script(src='https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js')


  body
    h1 Test
    #container.col
      #num
      #joinbox
      #msgbox
      
    script(src='app.js')
